/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
	/*user defined*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  /*user defined*/
	color: #CCCCCC;
}

/*user defined*/
html{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	width:100%;
	height: 100%;
	overflow-y: hidden;
}

body {
  font-size: 1em;
  line-height: 1.4;
  /*user defined*/
  background: #222222;
  width:100%;
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	text-shadow: none;
	/*user defined*/
	background: #F2AE32;
	color: #2D2D2D;
}

::selection {
	text-shadow: none;
	/*user defined*/
	background: #F2AE32;
	color: #2D2D2D;
}
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 0.0625em;
	border: 0;
	margin: 1em 0;
	padding: 0;
	/*user defined*/
	border-top: 0.0625em solid #141414;
  box-shadow: 0 0 0.375em rgba(255, 255, 255, 0.12);
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* =============================================================================
   Links
   ========================================================================== */
a {
	color: #95BD38;
	text-decoration: none;
}
a:visited {
	color: #8F9D6A;
}
a:hover {
	color: #B6FF26;
}
a:focus {
	outline: thin dotted;
}

a svg{
	fill: #707070;
}
a svg:hover{
	fill: #CCCCCC;
}

/* =============================================================================
   Typography
   ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 0.9625;
  font-weight: bold;
  color: #D6D6D6;
  text-shadow: 0 0.0625em 0 #000000;
}

h1, .h1 {
  font-size: 1.375em;
  margin: 0.545454545em 0;
}

h2, .h2 {
	font-size: 1.125em;
	margin: 0.666666667em 0;
}

h3, .h3 {
	font-size: 1em;
	margin: 0.75em 0;
}

h4, .h4 {
	font-size: 0.875em;
	margin:0.857142857em 0;
}

h5, .h5 {
	font-size: 0.875em;
	margin:0.857142857em 0;
	color: #999999;
}

h6, .h6 {
	font-size: 0.875em;
	margin:0.857142857em 0;
	color: #666666;
}

p, blockquote, ul, ol, dl, menu {
	font-size: 1em;
  margin: 0 0 1.4em;
}

ol, ul{
	list-style-position: outside;
	padding: 0;
	margin-left: 1.4em;
}

dl{
	margin-left: 0.75em;
}

ul.square { list-style-type: square; }
ul.circle { list-style-type: circle; }
ul.disc { list-style-type: disc; }
ul.no-bullet { list-style: none; }

ul li ul, ul li ol, ol li ul, ol li ol {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

dt {
	font-size:0.875em;
  font-weight: bold;
}

dd {
  margin-left: 0.75em;
}

blockquote, blockquote p{
	color: #BD9F65;
	font-style: italic;
}

blockquote{
	border-left: 0.125em solid #C89F45;
	padding-left: 0.75em;
}

blockquote cite {
	display: block;
	font-size: 0.875em;
	color: #BD9F65;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited {
	color: #D4C19B;
}

/* Figure
   ========================================================================== */
figure:before, figure:after ,.figure:before, .figure:after{
  content: "";
  display: table;
}
figure:after, .figure:after {
  clear: both;
}

figure, .figure{
  margin: 0 0 0.75em;
  background: rgba(0, 0, 0, 0.12);
  border: 0.0625em solid #141414;
  border-radius: 0.1875em;
  box-shadow: 0 0 0.0625em rgba(0, 0, 0, 0.25);
}

figure img, .figure img{
  display: block;
  width: 100%;
  float: left;
  height: auto;
  padding: 0.375em;
}

figure figcaption , .figure .figcaption{
  padding: 0.428571429em;
  font-size: 0.875em;
}
figure figcaption p, figure figcaption ul, figure figcaption ol, figure figcaption dl, figure figcaption blockquote, .figure .figcaption p, .figure .figcaption ul, .figure .figcaption ol, .figure .figcaption dl, .figure .figcaption blockquote {
  margin: 0 0 0.428571429em;
}

/* =============================================================================
   prettify
   ========================================================================== */
.com { color: #777777; }
.lit { color: #9fd3e6; }
.pun, .opn, .clo { color: #eeeeee; }
.fun { color: #dc322f; }
.str, .atv { color: #b1d631; }
.kwd, .linenums .tag { color: #CDA869; }
.typ, .atn, .dec, .var { color: #b1d631; }
.pln { color: #8F9D6A; }
.prettyprint {
  padding: 0.428571429em;
  background-color: rgba(0, 0, 0, 0.12);
  border: 0.071428571em solid #141414;
  border-radius: 0.214285714em;
  box-shadow: 0 0 0.071428571em rgba(0, 0, 0, 0.25);
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 2.857142857em 0 0 #1F1F1F, inset 2.928571429em 0 0 #141414;
  -moz-box-shadow: inset 2.857142857em 0 0 #1F1F1F, inset 2.928571429em 0 0 #141414;
  box-shadow: inset 2.857142857em 0 0 #1F1F1F, inset 2.928571429em 0 0 #141414;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 2.357142857em; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 0.857142857em;
  color: #bebec5;
  line-height: 1.285714286em;
  text-shadow: 0 0.071428571em 0 #000;
}
pre {
	font-size: 0.857142857em;
  line-height: 1.285714286em;
  max-width: 100;
  overflow-x: auto;
}
code{
	background: rgba(255, 255, 255, 0.12);
  padding: 0.142857143em 0.285714286em;
}
pre, code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 0.875em;
}

/* =============================================================================
   nanoScroller
   ========================================================================== */
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 0.625em;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 0.3125em;
  -webkit-border-radius : 0.3125em;  
  border-radius         : 0.3125em;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 0.1875em;
  -webkit-border-radius : 0.1875em;  
  border-radius         : 0.1875em;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}








article {
	padding: 0 0.375em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
