/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 * 
 * Edited by Dumindu Madunuwan
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
	/*user defined*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  /*user defined*/
	color: #b6b6b6;
}

/*user defined*/
html{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	width:100%;
	height: 100%;
}

body {
	font-size: 1em;
  /*user defined*/
	line-height: 1.5;
  background: #222222;
  width:100%;
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	text-shadow: none;
	/*user defined*/
	background: #F2AE32;
	color: #2D2D2D;
}

::selection {
	text-shadow: none;
	/*user defined*/
	background: #F2AE32;
	color: #2D2D2D;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 0.0625em;
	border: 0;
	margin: 1em 0;
	padding: 0;
	/*user defined*/
	border-top: 0.0625em solid #141414;
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.12);
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
	/*user defined*/
	height: auto;
	max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/*============================================================================
 Model Overlay : user defined
 ============================================================================*/
.modal_overlay{
	width: 100%;
	height: 100%;
	z-index: 300;
	position: fixed;
	top: 0;
	padding: 0.5em;
	background-color: #333333;
}
	.modal_container{
		width: inherit;
	 	height: inherit;
	 	padding: 0.5em;
		background-color: #222222;
	 	border: 0.0625em solid #141414;
	  border-radius: 0.25em;
	}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* =============================================================================
   Links
   ========================================================================== */
a {
	color: #95BD38;
	text-decoration: none;
}
a:visited {
	color: #8F9D6A;
}
a:hover {
	color: #B6FF26;
}
a:focus {
	outline: thin dotted;
}

a svg{
	fill: #191919;
}
a:focus svg, a svg:hover{
	fill: #0D0D0D;
}

/* =============================================================================
   Typography
   ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: bold;
  line-height: 0.9625;
  text-shadow: 0 0.0625em 0.0625em #000000;
}

h1, .h1 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

h2, .h2 {
	font-size: 1.25em;
	margin: 0.6em 0;
}

h3, .h3 {
	font-size: 1em;
	margin: 0.75em 0;
}

h4, .h4,
h5, .h5,
h6, .h6 {
	font-size: 0.75em;
	margin:1em 0;
}

h5, .h5 {
	color: #777777;
}

h6, .h6 {
	color: #555555;
}

h1 a, h1 a:visited, h1 a:hover, .h1 a, .h1 a:visited, .h1 a:hover,
h2 a, h2 a:visited, h2 a:hover, .h2 a, .h2 a:visited, .h2 a:hover,
h3 a, h3 a:visited, h3 a:hover, .h3 a, .h3 a:visited, .h3 a:hover,
h4 a, h4 a:visited, h4 a:hover, .h4 a, .h4 a:visited, .h4 a:hover {
	color: #999999;
}

h5 a, h5 a:visited, h5 a:hover, .h5 a, .h5 a:visited, .h5 a:hover{
	color: #777777;
}

h6 a, h6 a:visited, h6 a:hover, .h6 a, .h6 a:visited, h6 a:hover{
	color: #555555;
}

p, blockquote, ul, ol, dl, menu {
	font-size: 1em;
  margin: 0 0 1.5em;
}

ol, ul{
	list-style-position: outside;
	padding: 0;
	margin-left: 1.5em;
}

dl{
	margin-left: 0.75em;
}

ul.square { list-style-type: square; }
ul.circle { list-style-type: circle; }
ul.disc { list-style-type: disc; }
ul.no-bullet { list-style: none; }

ul li ul, ul li ol, ol li ul, ol li ol {
	font-size:inherit;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

dt {
	font-weight: bold;
}

dd {
  margin-left: 0.75em;
}

pre, code {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 0.875em;
  line-height: 1.5em;
	background: rgba(0, 0, 0, 0.25);
  padding: 0.3125em;
}
p pre, p code, ul pre, ul code{
	font-size: 0.875em;
}

pre {
	max-width: 100;
  overflow-x: auto;
}

blockquote, blockquote p{
	color: #919191;
	text-shadow: 0 0.0625em 0.0625em #000000;
	font-style: italic;
}

blockquote{
	border-left: 0.0625em solid #919191;
	padding-left: 0.75em;
}

blockquote p{
	font-size: inherit;
	margin-bottom: 0.75em;
}
blockquote cite,
/*Only For Tumblr*/
blockquote .cite{
	display: block;
}

blockquote cite:before,
/*Only For Tumblr*/
blockquote .cite:before {
	content: "\2014 \0020";
}

pre a, code a,
blockquote cite a, blockquote cite a:visited,
/*Only For Tumblr*/
blockquote .cite a, blockquote .cite a:visited {
	color: #b6b6b6;
}

/* Figure
   ========================================================================== */
figure:before, figure:after ,.figure:before, .figure:after{
  content: "";
  display: table;
}
figure:after, .figure:after {
  clear: both;
}

figure, .figure{
  margin: 0 auto 1.5em;
  background: rgba(0, 0, 0, 0.25);
  border: 0.0625em solid #141414;
  border-radius: 0.1875em;
  box-shadow: 0 0.3125em 0.3125em -0.1875em rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

figure img, .figure img, 
figure iframe, .figure iframe, 
figure object, .figure object, 
figure embed, .figure embed{
  display: block;
  width: 100%;
  float: left;
  padding: 0.5em;
}

figure figcaption , .figure .figcaption{
  padding: 0.5em;
  font-size: 0.875em;
  color: #919191;
	text-shadow: 0 0.071428571em 0.071428571em #000000;
}
figure figcaption p, figure figcaption ul, figure figcaption ol, figure figcaption dl, figure figcaption blockquote, .figure .figcaption p, .figure .figcaption ul, .figure .figcaption ol, .figure .figcaption dl, .figure .figcaption blockquote {
  margin: 0 0 0.428571429em;
}
figure figcaption p, .figure figcaption p, figure figcaption pre, .figure figcaption pre, figure figcaption ul, figure figcaption ol, figure figcaption dl, .figure .figcaption ul, .figure .figcaption ol, .figure .figcaption dl{
	font-size: inherit;
	margin-bottom: 0;
}
/* =============================================================================
   Button
   ========================================================================== */
.btn {
  position: relative;
  display: inline-block;
  background: rgba(0, 0, 0, 0.12);
  border: 0.0625em solid #141414;
  border-radius: 0.1875em;
  box-shadow: 0 0.3125em 0.3125em -0.1875em rgba(0, 0, 0, 0.25);
  color: #919191;
  margin: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.4em 0.75em;
}
	.btn:hover, .btn:focus, .btn:active, .btn:visited {
		text-decoration: none;
		background: rgba(0, 0, 0, 0.25);
		box-shadow: 0.3125em 0.3125em -0.1875em rgba(0, 0, 0, 0.5);
		color: #919191;
	}
	.btn:focus {
		outline: 0;
	}
	.btn:active {
		box-shadow: inset 0 0 0.1875em 0.1875em rgba(0, 0, 0, 0.12);
	}

.btn.disabled, .btn.disabled:hover, .btn.disabled:active{
	color: #5C5C5C;
	border-color: #1F1F1F;
	background: rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 0 0.1875em 0.1875em rgba(0, 0, 0, 0.12);
	cursor: not-allowed;
}
.btn.disabled:focus{
	background: rgba(255, 255, 255, 0.12);
}
/* =============================================================================
   Button group and toolbar
   ========================================================================== */
.btn + .btn,
.btn + .btn-group,
.btn_group + .btn,
.btn_group + .btn_group {
  margin-left: 0.25em;
}

.btn_group {
  display: inline-block;
}
.btn_group .btn {
  float: left;
  margin-left: -0.0625em;
}
.btn_group .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn_group .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0;
}
.btn_group .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn_toolbar .btn,
.btn_toolbar .btn_group {
  vertical-align: top;
}

/* =============================================================================
   Icons
   ========================================================================== */
.icon{
	width: 2em;
	height: 2em;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.icon_container{
	display: inline-block;
}
.icon_container .icon{
	vertical-align: top;
}
.icon + .icon,
.icon + .icon_container,
.icon_container + .icon{
  margin-left: 1em;
}
.icon a, .icon svg{
	width:inherit;
	height: inherit;
}
.icon a:focus{
	outline: none;
}
/* =============================================================================
   prettify
   ========================================================================== */
.com { color: #777777; }
.lit { color: #9fd3e6; }
.pun, .opn, .clo { color: #eeeeee; }
.fun { color: #dc322f; }
.str, .atv { color: #b1d631; }
.kwd, .linenums .tag { color: #CDA869; }
.typ, .atn, .dec, .var { color: #b1d631; }
.pln { color: #8F9D6A; }

.prettyprint {
	padding: 0.5em;
  border: 0.071428571em solid #141414;
  border-radius: 0.214285714em;
  box-shadow: 0 0 0.071428571em rgba(0, 0, 0, 0.25);
}
.prettyprint.linenums {
	padding: 0.5em 0;
	box-shadow: inset 2.857142857em 0 0 #141414, inset 2.928571429em 0 0 #111111;
}
.prettyprint.linenums ol{
	font-size: 1em;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 2.357142857em; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 0.857142857em;
  color: #bebec5;
  line-height: 1.285714286em;
  text-shadow: 0 0.071428571em 0 #000;
}

/* =============================================================================
   jqPagination
   ========================================================================== */
.pagination{
	margin: 1em auto;
	text-align: center;
}
	.pagination .first, .pagination .last {
		display: none;
	}

.pagination input[type="text"]{
	background: rgba(0, 0, 0, 0.12);
	border: 0.0625em solid #141414;
  border-radius: 0.1875em;
  box-shadow: 0 0.3125em 0.3125em -0.1875em rgba(0, 0, 0, 0.25);
  padding: 0.5em;
  text-align: center;
}

/* =============================================================================
   nanoScroller
   ========================================================================== */
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 0.625em;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 0.3125em;
  -webkit-border-radius : 0.3125em;  
  border-radius         : 0.3125em;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 0.0625em;
  -moz-border-radius    : 0.1875em;
  -webkit-border-radius : 0.1875em;  
  border-radius         : 0.1875em;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


/* ==========================================================================
   custom styles for page elements
   ========================================================================== */
header{
	padding: 1.5em .5em;
	background: rgba(0, 0, 0, 0.25);
	text-align: center;
	border-bottom: 0.0625em solid #141414;
	margin-bottom: 1.5em;
	box-shadow: 0 0.3125em 0.3125em -0.1875em rgba(0, 0, 0, 0.5);
	color: #919191;
}
header img{
	border: 0.1875em solid #919191;
	border-radius: 5.625em;
	height: 5.625em;
	width: 5.625em;
}
header p{
	margin-bottom: 0;
}
article {
	padding: 0.5em .75em;
}
nav{
	margin: 1em auto;
	text-align: center;
}

article .meta time{
	position:relative;
	display: inline-block;
	margin-left: .5em;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 0 0.0625em 0.0625em rgba(255, 255, 255, 0.06);
}
.dsq_comment_count{
	float: right;
}
#disqus_thread{
	margin-top: 2em;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* =============================================================================
   Figure tweek For Mobile
   ========================================================================== */
@media only screen and (max-width: 35em) and (orientation : landscape) {
	.figure_portrait_large, .figure_portrait_medium, .figure_portrait_small {
		width: 60%;
	}
}


/* =============================================================================
   Styles For Tablet
   ========================================================================== */
@media only screen and (min-width: 35em) {
	
	/*Typography*/
	h1, .h1 {
	  font-size: 1.875em;
	}
	
	h2, .h2 {
		font-size: 1.5625em;
	}
	
	h3, .h3 {
		font-size: 1.25em;
	}
	
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		font-size: 0.9375em;
	}
	
	p, blockquote, ul, ol, dl, menu {
		font-size: 1.25em;
	}
	
	pre, code {
	  font-size: 1.09375em;
	}
	
	hr {
		height: 0.078125em;
		margin: 1.25em 0;
		border-top: 0.078125em solid #141414;
	  box-shadow: 0 0 0.625em rgba(255, 255, 255, 0.12);
	}
	
	figure, .figure{
		font-size: 1.25em;
	}
	
	/* Figure sizes For landscape mode*/
	.figure_landscape_large{
		width: 80%;
	}
	.figure_landscape_medium{
		width: 60%;
	}
	.figure_landscape_small{
		width: 40%;
	}
	
	.figure_portrait_large {
		width: 50%;
	}
	.figure_portrait_medium {
		width: 40%;
	}
	.figure_portrait_small {
		width: 30%;
	}
	
	/*custom styles for modal dialog*/
	.modal_overlay{
		font-size: 1.25em;
	}
	
	/*custom styles for page elements*/
	article{
		padding: 2.5em 0.9375em;
	}
	.btn, .pagination input[type="text"], .icon_container, article .meta {
		font-size: 1.25em;
	}
	.pagination .first, .pagination .last {
		display: inline-block;
	}
	#disqus_thread{
		margin: 2.5em 2.5em 0;
	}

}


/* =============================================================================
   Figure sizes For portrait mode
   ========================================================================== */
@media only screen and (min-width: 35em) and (orientation : portrait) {
	.figure_landscape_large{
		width: 100%;
	}
	.figure_landscape_medium{
		width: 80%;
	}
	.figure_landscape_small{
		width: 60%;
	}
	
	.figure_portrait_large {
		width: 80%;
	}
	.figure_portrait_medium {
		width: 60%;
	}
	.figure_portrait_small {
		width: 40%;
	}
	
}


/* =============================================================================
   Styles For Desktop
   ========================================================================== */
@media only screen and (min-width: 76.5em) {
	
	/*Typography*/
	h1, .h1 {
	  font-size: 2.25em;
	}
	
	h2, .h2 {
		font-size: 1.875em;
	}
	
	h3, .h3 {
		font-size: 1.5em;
	}
	
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		font-size: 1.125em;
	}
	
	p, blockquote, ul, ol, dl, menu {
		font-size: 1.5em;
	}
	
	pre, code {
	  font-size: 1.3125em;
	}
	
	hr {
		height: 0.09375em;
		margin: 1.5em 0;
		border-top: 0.09375em solid #141414;
	  box-shadow: 0 0 0.75em rgba(255, 255, 255, 0.12);
	}
	
	figure, .figure{
		font-size: 1.5em;
	}
	
	/*custom styles for modal dialog*/
	.modal_overlay{
		font-size: 1.5em;
	}
	
	/*custom styles for page elements*/
	article{
		padding: 3em 1.125em;
	}
	.btn, .pagination input[type="text"], .icon_container, article .meta {
		font-size: 1.5em;
	}
	#disqus_thread{
		margin: 3em 3em 0;
	}
}


/* =============================================================================
   Styles For TV
   ========================================================================== */
@media only screen and (min-width: 114em) {
	
	/*Typography*/
	h1, .h1 {
	  font-size: 3em;
	}
	
	h2, .h2 {
		font-size: 2.5em;
	}
	
	h3, .h3 {
		font-size: 2em;
	}
	
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		font-size: 1.5em;
	}
	
	p, blockquote, ul, ol, dl, menu {
		font-size: 2em;
	}
	
	pre, code {
	  font-size: 1.75em;
	}
	
	hr {
		height: 0.125em;
		margin: 2em 0;
		border-top: 0.125em solid #141414;
	  box-shadow: 0 0 1em rgba(255, 255, 255, 0.12);
	}
	
	figure, .figure{
		font-size: 2em;
	}
	
	/*custom styles for modal dialog*/
	.modal_overlay{
		font-size: 2em;
	}
	
	/*custom styles for page elements*/
	article{
		padding: 4em 1.5em;
	}
	.btn, .pagination input[type="text"], .icon_container, article .meta {
		font-size: 2em;
	}
	#disqus_thread{
		margin: 4em 4em 0;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
	  background: transparent !important;
	  color: #000 !important; /* Black prints faster: h5bp.com/s */
	  box-shadow: none !important;
	  text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}